<app-navbar></app-navbar>

<div class="row mt-3">

    <div class="col-3">
        <div class="card mt-2 blur-in">
            <img class="card-img-top mt-4" src='assets/img/ahorcado/hangman.png' alt="ahorcado" [ngStyle]="{'width':'6.5rem', 'hegiht':'8rem'}">
            <div class="card-body">
              <h5 class="card-title">Ahorcado</h5>
              <button class="btn btn-light" (click)="redirigir(1)">JUGAR</button>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card mt-2 blur-in">
            <img class="card-img-top" src='assets/img/cards/card_back.png' alt="mayor_menor" [ngStyle]="{'width':'6.5rem', 'hegiht':'8rem'}">
            <div class="card-body">
              <h5 class="card-title">Mayor o Menor</h5>
              <button class="btn btn-light" (click)="redirigir(2)">JUGAR</button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mt-2 blur-in">
            <img class="card-img-top mt-4" src='assets/img/flags.avif' alt="preguntados" [ngStyle]="{'width':'6.5rem', 'hegiht':'8rem'}">
            <div class="card-body">
              <h5 class="card-title">Preguntados</h5>
              <button class="btn btn-light" (click)="redirigir(3)">JUGAR</button>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mt-2 blur-in">
            <img class="card-img-top mt-4" src='assets/img/ping-pong.webp' alt="ping pong" [ngStyle]="{'width':'5.5rem', 'hegiht':'8rem'}">
            <div class="card-body">
              <h5 class="card-title">Ping Pong</h5>
              <button class="btn btn-light" (click)="redirigir(4)">JUGAR</button>
            </div>
        </div>
    </div>

</div>

