<app-navbar></app-navbar>
    
<div class="card mt-4 col-10 offset-4" style="width: 30rem;">
    <img class="card-img-top" [src]="github.avatar_url" alt="github avatar" [ngStyle]="{'width':'14.5rem'}">
    <div class="card-body">
      <h5 class="card-title">{{github.name}}</h5>
      <p class="card-text">
        Usuario: @{{github.login}} <br>
        Ubicación: {{github.location}} <br>
        Educación: {{github.bio}} <br>
        Repositorios: {{github.public_repos}}
      </p>
    </div>
    <div class="card-body">
        <a [href]="github.html_url" target="_blank" class="link">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
  </div>