<app-navbar></app-navbar>
<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first">
        <img [src]="loginIcon" id="icon" alt="icon" />
      </div>
      

      <select (change)="onChange($event)" class="fadeIn fourth" aria-label="Default select example">
        <option selected disabled value="">Acceso rápido</option>
        <option value="user1">Usuario 1</option>
        <option value="user2">Usuario 2</option>
        <option value="user3">Admin</option>
      </select>
      <br>

      <form [formGroup]="credentials" (ngSubmit)="login()">
        <input formControlName="email" type="text" id="email" class="fadeIn second" name="email" placeholder="Ingrese su correo electrónico" [(ngModel)]="email">
        <br>
        <small style="color: rgb(255, 255, 255); font-weight: bold;"
          *ngIf="this.credentials.get('email')?.invalid && this.credentials.get('email')?.touched">
          Correo electrónico es requerido</small>

        <input formControlName="password" type="password" id="password" class="fadeIn third" name="password" placeholder="Ingrese su clave" [(ngModel)]="password">
        <br>
        <small style="color: rgb(255, 255, 255); font-weight: bold;"
          *ngIf="this.credentials.get('password')?.invalid && this.credentials.get('password')?.touched">
          Clave es requerida</small>
        <br>
        <input type="submit" class="fadeIn fourth" value="Acceder">
      </form>
    </div>
  </div>
<ngx-spinner type="pacman" [fullScreen] = "true">
  <p style="color: rgb(255, 255, 255); margin-top: 2em;">Iniciando sesión...</p>
</ngx-spinner>

