<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="card mt-2 col-6 offset-3 blur-in">
            <img class="card-img-top" [src]="icon" alt="ico" [ngStyle]="{'width':'14.5rem'}">
            <div class="card-body">
              <h3 class="card-title">Bienvenida!</h3>
              <p class="card-text">
                  Esperamos que disfrutes de la Sala de Juegos: Laboratorio IV
                </p>
                <p class="card-text">
                    UTN-FRA
                </p>
                <h5 class="card-title">Dacal Games © 2023</h5>
            </div>
        </div>
</div>